body {
    background-color: rgb(255, 255, 255);

}

div.container {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    background: #676;
}
div a {
    text-align: justify;
    border: 2px solid red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 10px;
}
div a:hover {
    border: 4px solid rgb(255, 109, 109);
}